.leaflet-control-zoom-display {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
}

.leaflet-touch .leaflet-control-zoom-display {
    width: 34px;
    height: 34px;
}
